[submodule "scripts/versioning"]
	path = scripts/versioning
	url = https://github.com/zephinzer/version-tagging-scripts.git
[submodule "scripts/utils"]
	path = scripts/utils
	url = https://github.com/zephinzer/docker-image-utils
